<!DOCTYPE html>
<html>
<head>
    <!--设置字符编码-->
    <meta charset="UTF-8">
    <!--手机开发屏幕自适应-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!--设置标题-->
    <title>新年菜谱</title>
    <script src="assets/lib/flexible.js"></script>
</head>
<body>
    <div class="app">
        <div class="head"></div>
        <div class="main">
            <div class="inner">
                <h2 class="title">当前排名第<span>3</span></h2>
                <ul class="list">
                    <li class="item">
                        <img src="http://www.owulia.com/static/temp/2.jpg" alt="">
                        <span>好友助力</span>
                        <i class="one"></i>
                    </li>
                    <li class="item">
                        <img src="" alt="">
                        <span>好友助力好友助力好友助力好友助力好友助力好友助力好友助力</span>
                        <i class="two"></i>
                    </li>
                    <li class="item">
                        <img src="" alt="">
                        <span>好友助力</span>
                        <i class="three"></i>
                    </li>
                    <li class="item">
                        <img src="" alt="">
                        <span>好友助力</span>
                        <i class="three"></i>
                    </li>
                    <li class="item">
                        <img src="" alt="">
                        <span>好友助力</span>
                        <i class="three"></i>
                    </li>
                    <li class="item">
                        <img src="" alt="">
                        <span>好友助力</span>
                        <i class="three"></i>
                    </li>
                </ul>
            </div>
            <div class="inner hidden">
                <div class="top">
                    <div class="user-info">
                        <div class="user-img">
                            <img src="http://www.owulia.com/static/temp/2.jpg" alt="">
                        </div>
                        <span>好友助力好友助力</span>
                    </div>
                    <ul class="star star-2">
                       <li></li>
                       <li></li>
                       <li></li>
                       <li></li>
                       <li></li>
                    </ul>
                </div>
                <ul class="list">
                    <li class="item">
                        <img src="http://www.owulia.com/static/temp/2.jpg" alt="">
                        <span>好友助力</span>
                        <div class="prompt">
                            <span>好友助力成功</span>
                            <span class="time">2018-12-12 12:12</span>
                        </div>
                    </li>
                    <li class="item">
                        <img src="http://www.owulia.com/static/temp/2.jpg" alt="">
                        <span>好友助力</span>
                        <div class="prompt">
                            <span>好友助力成功</span>
                            <span class="time">2018-12-12 12:12</span>
                        </div>
                    </li>
                    <li class="item">
                        <img src="http://www.owulia.com/static/temp/2.jpg" alt="">
                        <span>好友助力</span>
                        <div class="prompt">
                            <span>好友助力成功</span>
                            <span class="time">2018-12-12 12:12</span>
                        </div>
                    </li>
                    <li class="item">
                        <img src="http://www.owulia.com/static/temp/2.jpg" alt="">
                        <span>好友助力</span>
                        <div class="prompt">
                            <span>好友助力成功</span>
                            <span class="time">2018-12-12 12:12</span>
                        </div>
                    </li>
                    <li class="item">
                        <img src="" alt="">
                        <span>好友助力</span>
                        <div class="prompt">
                            <span>好友助力成功</span>
                            <span class="time">2018-12-12 12:12</span>
                        </div>
                    </li>
                    <li class="item">
                        <img src="" alt="">
                        <span>好友助力</span>
                        <div class="prompt">
                            <span>好友助力成功</span>
                            <span class="time">2018-12-12 12:12</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="nav">
            <div class="nav-item active">
                <i></i>
                <span>排行榜</span>
            </div>
            <div class="nav-item">
                <i></i>
                <span>好友助力</span>
            </div>
        </div>
    </div>
</body>
</html>

